.bill{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  background-color: lightgray;
  border-radius: 5px;
}

.bill_image{
  width: 120px;
  height: 100px;
  background-color: aliceblue;
}

.bill_info{
  width: 120px;
  height: 50px;
  border: 1px solid gray;
}
